.inline-block {
    display: inline-block;
}

.bg-light-gray {
    background-color: #ddd;
}

.link-dark-clear {
    text-decoration: none;
    color: rgb(33, 37, 41);
}

.link-white-clear {
    text-decoration: none;
    color: #fff;
}

::ng-deep .ngx-pagination {
    text-align: center;
}

::ng-deep .ngx-pagination li.current {
    background-color: rgb(33, 37, 41);
    border-radius: 10px;
}

::ng-deep .ngx-pagination li a:hover {
    border-radius: 10px;
}