<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center my-3 fw-bold">Krótki opis o roślinach</h1>

            <div class="img-center">
                <p>
                    Rośliny to różnorodna grupa organizmów, które występują na całym świecie, od pustynnych krajobrazów po wilgotne lasy deszczowe.
                    Rośliny różnią się między sobą kształtem, wielkością i sposobem życia. Niektóre są drzewami, osiągającymi wysokość nawet kilkuset metrów, podczas gdy inne są małymi ziołami, rosnącymi na powierzchni ziemi.
                    Rośliny są niezbędne dla życia na Ziemi, ponieważ wytwarzają tlen, który jest niezbędny dla życia zwierząt, a także zapewniają żywność i surowce dla ludzi i innych organizmów.
                </p>
    
                <img src="../../assets/images/bromeliad1.png" alt="bromeliad" style="height: 350px;" class="img-fluid img-style rounded-4 m-3">
                <img src="../../assets/images/jadevine1.png" alt="jadevine" style="height: 350px;" class="img-fluid img-style rounded-4 m-3">
    
                <p>
                    Rośliny różnią się między sobą sposobem odżywiania się, niektóre pobierają wodę i substancje odżywcze z gleby, podczas gdy inne wytwarzają swoje własne pożywienie poprzez fotosyntezę.
                    Wśród roślin można znaleźć wiele gatunków, które są endemitami i występują tylko w określonych regionach świata.
                    Niektóre rośliny są również zagrożone wyginięciem ze względu na działalność człowieka, zmiany klimatu i innych czynników.
                    Dlatego ważne jest, aby chronić różnorodność roślin na Ziemi i dbać o ich środowisko naturalne.
                </p>
    
                <img src="../../assets/images/bromeliad2.png" alt="bromeliad" style="height: 400px;" class="img-fluid img-style rounded-4 m-3">
                <img src="../../assets/images/jadevine2.png" alt="jadevine" style="height: 400px;" class="img-fluid img-style rounded-4 m-3">
            </div>

        </div>
    </div>
</div>